<?php

namespace Drupal\{{ machine_name }}\Agent\Action;

use Drupal\drd_agent\Agent\Action\Base;

/**
 * Provides a '{{ class }}' code.
 */
class {{ class }} extends Base {

  /**
   * {@inheritdoc}
   */
  public function execute() {
    // TODO: Implement the remote action.
    return [];
  }

}
