<?php

$databases = array (
{% for key,database in databases %}
  '{{ key }}' => array (
{% for target,def in database %}
    '{{ target }}' => array (
      'driver' => 'mysql',
      'namespace' => 'Drupal\\Core\\Database\\Driver\\mysql',
      'database' => '{{ def.database }}',
      'username' => '{{ drd.db.user }}',
      'password' => '{{ drd.db.pass }}',
      'host' => '{{ database_config.host }}',
      'port' => '{{ database_config.port }}',
      'prefix' => [{% for prefix,value in def.prefix %}'{{ prefix }}' => '{{ value }}',{% endfor %}],
    ),
{% endfor %}
  ),
{% endfor %}
);

$settings['hash_salt'] = '{{ settings.hash_salt }}';
$settings['update_free_access'] = FALSE;
{% for key,value in settings.container_yamls %}
$settings['container_yamls'][] = '{{ value }}';
{% endfor %}
$settings['install_profile'] = 'standard';
$settings['config_sync_directory'] = 'sites/default/files/config/sync';
$settings['file_public_path'] = '{{ settings.file_public_path }}';
$settings['file_private_path'] = '{{ settings.file_private_path }}';
$settings['trusted_host_patterns'] = array(
  '^{{ url }}$',
);
$config['system.file']['path']['temporary'] = '{{ tempdir }}';
