<?php

namespace Drupal\{{ machine_name }}\Plugin\Action;

use Drupal\drd\Plugin\Action\BaseGlobal;

/**
 * Provides a '{{ class }}' action.
 *
 * @Action(
 *  id = "{{ machine_name }}_drd_action_{{ id }}",
 *  label = @Translation("{{ label }}"),
 *  type = "drd",
 * )
 */
class {{ class }} extends BaseGlobal {

  /**
   * {@inheritdoc}
   */
  public function restrictAccess(): bool {
    return FALSE;
  }

  /**
   * {@inheritdoc}
   */
  public function executeAction() {
    // TODO: Put your action code here.
    return TRUE;
  }

}
