<?php

namespace Drupal\{{ machine_name }}\Plugin\Action;

use Drupal\drd\Entity\BaseInterface as RemoteEntityInterface;
use Drupal\drd\Entity\DomainInterface;
use Drupal\drd\Plugin\Action\BaseEntityRemote;

/**
 * Provides a '{{ class }}' action.
 *
 * @Action(
 *  id = "{{ machine_name }}_drd_action_{{ id }}",
 *  label = @Translation("{{ label }}"),
 *  type = "drd_domain",
 * )
 */
class {{ class }} extends BaseEntityRemote {

  /**
   * {@inheritdoc}
   */
  public function restrictAccess(): bool {
    return FALSE;
  }

  /**
   * {@inheritdoc}
   */
  public function executeAction(RemoteEntityInterface $domain) {
    if (!($domain instanceof DomainInterface)) {
      return FALSE;
    }
    $response = parent::executeAction($domain);
    // TODO: Put your action code here.
    return TRUE;
  }

}
