<?php

namespace Drupal\{{ machine_name }}\Plugin\Action;

use Drupal\drd\Entity\BaseInterface as RemoteEntityInterface;
use Drupal\drd\Entity\CoreInterface;
use Drupal\drd\Plugin\Action\BaseCoreRemote;

/**
 * Provides a '{{ class }}' action.
 *
 * @Action(
 *  id = "{{ machine_name }}_drd_action_{{ id }}",
 *  label = @Translation("{{ label }}"),
 *  type = "drd_core",
 * )
 */
class {{ class }} extends BaseCoreRemote {

  /**
   * {@inheritdoc}
   */
  public function restrictAccess(): bool {
    return FALSE;
  }

  /**
   * {@inheritdoc}
   */
  public function executeAction(RemoteEntityInterface $core) {
    if (!($core instanceof CoreInterface)) {
      return FALSE;
    }
    $response = parent::executeAction($core);
    // TODO: Put your action code here.
    return TRUE;
  }

}
