<?php

namespace Drupal\{{ machine_name }}\Plugin\Action;

use Drupal\drd\Entity\BaseInterface as RemoteEntityInterface;
use Drupal\drd\Entity\HostInterface;
use Drupal\drd\Plugin\Action\BaseHost;

/**
 * Provides a '{{ class }}' action.
 *
 * @Action(
 *  id = "{{ machine_name }}_drd_action_{{ id }}",
 *  label = @Translation("{{ label }}"),
 *  type = "drd_host",
 * )
 */
class {{ class }} extends BaseHost {

  /**
   * {@inheritdoc}
   */
  public function restrictAccess(): bool {
    return FALSE;
  }

  /**
   * {@inheritdoc}
   */
  public function executeAction(RemoteEntityInterface $host) {
    if (!($host instanceof HostInterface)) {
      return FALSE;
    }

    // TODO: Put your action code here.

    return TRUE;
  }

}
